.App {
  display: flex;
  // justify-content: center;
  width: 100%;
  flex-direction: column;
  max-width: 34rem;
  width: 100%;
  margin: 0 auto;
  & > label {
    line-height: 2;
  }
  & > button {
    line-height: 2;
  }
}
.patterns {
  width: 100%;
  max-width: 24rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  label {
    padding: .4rem;
  }
}

label.price-limit, label.new-pattern {
  display: flex;
  align-items: center;
  input {
    padding: .3rem;
    width: 70%;
  }
}

.add-new-pattern, .explanation {
  width: 10rem;
  height: 2rem;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}